<footer>
  <div class="container-fluid footer" bis_skin_checked="1">
    <footer class="container">

      <div class="row d-flex flex-row justify-content-around"" bis_skin_checked="1">
        <div class="col-6 col-md-2 mb-3" bis_skin_checked="1">
          <h5>Section</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="home" class="nav-link p-0 text-body-secondary"><span class="footer-links">Home</span></spna></a></li>
            <li class="nav-item mb-2"><a href="new-post" class="nav-link p-0 text-body-secondary"><span class="footer-links">New Post</span></a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"><span class="footer-links">About</span></a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary footer-links"><span class="footer-links">Contact</span></a></li>
          </ul>
        </div>

  
        <div class="col-md-5 offset-md-1 mb-3" bis_skin_checked="1">
          <form>
            <h5>Subscribe to our newsletter</h5>
            <p>Monthly digest of what's new and exciting from us.</p>
            <div class="d-flex flex-column flex-sm-row w-100 gap-2" bis_skin_checked="1">
              <label for="newsletter1" class="visually-hidden">Email address</label>
              <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
              <button class="btn" style="background-color: #FED8B1; color: #6F4E37;" type="button">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
  
      <div class="d-flex flex-column flex-sm-row justify-content-between py-4 mt-4 border-top" bis_skin_checked="1">
        <p>© 2024 Post Pulse, Inc. All rights reserved.</p>
      </div>
    </footer>
  </div>
</footer>